<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhanghuang">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.sina.weibo" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.qzone" />
        <package android:name="com.alibaba.android.rimet" />
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="com.instagram.android" />
    </queries>
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>


        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:multiprocess="true" />

        <activity
            android:name="com.qq.e.ads.PortraitADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:multiprocess="true" />

        <activity
            android:name="com.qq.e.ads.LandscapeADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:multiprocess="true"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name="com.qq.e.ads.RewardvideoPortraitADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:multiprocess="true"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>

        <activity
            android:name="com.qq.e.ads.RewardvideoLandscapeADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:multiprocess="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>

        <activity
            android:name="com.qq.e.ads.DialogActivity"
            android:multiprocess="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name=".NSplashActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Login"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".RegistActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".UserInfoActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".EditNickActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".ZxInfoActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".AddRecordActivityNew"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".UploadRecordActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".AdInfoActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".FavActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".EditPassActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".ForgetPassActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".ActivitiesActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".ActivitiesLandActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EditRecordActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SexBirthEditActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".GuildsActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".IntroAppActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".BindShowActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".BindChoiceActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".BindSendCodeActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".BindPassActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".AddRecordSetActivityNew"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".CustomPlanActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".ViewPicActivity"
            android:screenOrientation="unspecified" />

        <service android:name=".SoundService" />

        <receiver
            android:name=".reciver.AdminReciver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android:app.device_admin"
                android:resource="@xml/lock_screen" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <service android:name=".service.CountService" />
        <service
            android:name=".service.CountKeepService"
            android:process=":remoteprocess" />
        <service
            android:name=".service.JobHandleService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>
</manifest>
